{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}1{% endblock title %}
{% block body %}
{% comment %} <h1 class='bg-amber-600'>hey</h1> {% endcomment %}
{{ 10000|intcomma}}<br>
{{ 10|ordinal}}<br>
{{ 1|ordinal}}<br>
{{ 2|ordinal}}<br>
{{ 3|ordinal}}<br>
{{ 800000000000|intword}}<br>
<h1 class="text-3xl text-blue-500">Hello</h1>
<h1 class='text-2xl p-10 m-10 bg-amber-600 w-fit'>Hello</h1>

{{context}}
{{name}}
{{age}}
{{skills}}
{{ skills.3.frontend }}
{% endblock body %}